* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    padding-left: 250px;
    padding-right: 350px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 15px;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 40%;
    border: 4px solid;

}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #084d8a;
    border-bottom: 2px solid #084d8a;
    padding-bottom: 4px;
}

ul {
    margin-left: 25px;

}

li {
    margin-bottom: 6px;
    line-height: 1.2;
}
