* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

.container {
    background-color: rgb(122, 93, 238);
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;

}

.container div {
    background-color: rgb(239, 19, 8);
    margin-left: 85px;
    margin-right: 85px;
    padding: 15px;
}

#solo {
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 500px;
    margin-right: 500px;
}

#solo img {
    margin-top: 2px;
    border-radius: 500px;
}