* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 240, 237);
    font-family: Arial;
}

.container {
    width: 300px;
}

.login-form input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.login-form button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.forget-container {
    display: flex;
    width: 700px;
    background-color: rgb(228, 243, 248);
    border-radius: 8px;
    border: 1px solid;
}

.forget-image {
    width: 50%;
}

.forget-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.forget-form {
    width: 50%;
    padding: 30px;
}

.forget-form h2 {
    padding: 20px;
}

.forget-form p {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.forget-form input {
    width: 80%;
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid;
    border-radius: 5px;
}

.forget-form button {
    width: 100%;
    padding: 7px;
    background-color: rgb(33, 115, 237);
    color: black;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.forget-form button:hover {
    background-color: rgb(37, 127, 40);

}

.forget-form a {
    display: block;
    margin-top: 25px;
    text-decoration: double;
    color: rgb(68, 14, 116);
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}