* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
}

.img-box {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
    filter: grayscale(90%);
}

.img-box:hover img {
    transform: scale(1.08);
    filter: grayscale(0%);
}

.img-box:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}