body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    display: inline-block;
    padding: 8px;
    margin: 20px;
}

p {
    color: blue;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 4px 12px;
    border: 4px;
    color: #fff;
    background-color: #0aa8cb;
}

.btn:hover {
    color: #0aa8cb;
    background-color: #fff;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}