* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f8;
}

h1 {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: 30px;
    color: #333;
}

.container {
    display: flex;
    gap: 30px;
    color: #333;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #ffff;
    padding: 25px;
    width: 240px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
}

.card h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-bottom: 18px;
}

.card p {
    margin: 6px 0;
    
}

button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: #3b82f6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s easy;
}

button:hover {
    background-color: #183cb2;
    transform: scale(1.2);
}
