* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(160, 234, 224);
    color: #333;
}

.container {
    width: 90%;
    margin: 40px auto;
    background-color: #efdcdc;
    padding: 30px;
    text-align: center;
    border-radius: 6px;
}

h1 {
    margin-bottom: 10px;
    font-size: 35px;
}

h3 {
    margin: 20px 0 10px;
}

img {
    width: 40%;
    height: auto;
    margin: 20px;
    border-radius: 5px;
}

p {
    text-align: justify;
    line-height: 1.7;
    margin: 15px;
    font-size: 20px;
}

.characters {
    margin-top: 30px;
}

ul {
    list-style: none;
    margin: 15px;
}

ul li {
    padding: 3px;
}

.feedback {
    margin-top: 10px
}

.feedback input[type="text"] {
    width: 40%;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}

.feedback input[type="submit"] {
    display: block;
    margin: 12px auto;
    padding: 6px 30px;
    background-color: rgb(22, 96, 244);
    border: 1px solid;
    cursor: pointer;
}

.feedback input[type="submit"]:hover {
    background-color: #1ec8cb;
}